<h2 mat-dialog-title>S3 Folders</h2>
<button mat-raised-button color="warn" (click)="deleteS3Objects()">Delete selected</button>
<ul>
  <li (click)="goTo('root')" style="display: inline">root</li>
  /
  <li (click)="goTo(string)" style="display: inline" *ngFor="let string of path">{{string}}/</li>
</ul>
<mat-dialog-content class="mat-typography folder-container">
  <app-dnd [path]="path" style="width: 100%">
    <div class="folder-inner">
    <div
         *ngFor="let folder of childFolders"
         (click)="select(folder[folder.length - 1])"
         (dblclick)="updateFolderData(folder)"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon">folder</mat-icon>
      <p>{{folder[folder.length - 1]}}</p>
    </div>
    <app-s3-image [multiselect]="data?.multiselect" (deselectCallback)="deselectCallback($event)" (selectCallback)="selectCallback($event)" [path]="path"></app-s3-image>
    </div>
  </app-dnd>
</mat-dialog-content>
<ng-container *ngIf="!!selected">
  <div *ngFor="let item of selected">
    <span>{{item.path}}</span>
  </div>
  <mat-form-field appearance="standard">
    <mat-label>Description:</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <mat-dialog-actions *ngIf="!!data">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="appendImage(selected)" [mat-dialog-close]="true" cdkFocusInitial>Select image</button>
  </mat-dialog-actions>
</ng-container>
