<h2 mat-dialog-title >S3 Folders</h2>
<!--<button mat-button (click)="goBack()" [disabled]="currentFolder === 'root'">back</button>-->
<ul>
  <li (click)="goTo('root')" style="display: inline">root</li>
  /
  <li (click)="goTo(string)" style="display: inline" *ngFor="let string of path">{{string}}/</li>
</ul>
<mat-dialog-content class="mat-typography folder-container">
  <div class="folder"
       *ngFor="let folder of childFolders"
       (click)="select(folder[folder.length - 1])"
       (dblclick)="updateFolderData(folder)"
  >
    <mat-icon aria-hidden="false" aria-label="Example home icon">folder</mat-icon>
    <p>{{folder[folder.length - 1]}}</p>
  </div>
  <app-s3-image (selectCallback)="selectCallback($event)" [path]="path"></app-s3-image>
</mat-dialog-content>
<div>{{selected?.toString()}}</div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="appendImage(selected)" [mat-dialog-close]="true" cdkFocusInitial>Select image</button>
</mat-dialog-actions>
