<amplify-authenticator
  [ngClass]="signedIn ? 'hidden' : 'null'"
  data-signIn=(authenticated) [loginMechanisms]="['username']" [hideSignUp]="true">
  <ng-template
    amplifySlot="authenticated"
  >
    <mat-toolbar color="primary">
      <button [ngClass]="'btn'" mat-raised-button  [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <a routerLink="/" routerLinkActive="active" mat-menu-item>Home</a>
        <a routerLink="/trips" routerLinkActive="active" mat-menu-item>Trips</a>
        <a routerLink="/events" routerLinkActive="active" mat-menu-item>Events</a>
        <a routerLink="/map-features" routerLinkActive="active" mat-menu-item>Map features</a>
        <a routerLink="/file-upload" routerLinkActive="active" mat-menu-item>File upload</a>
      </mat-menu>
      <span>Mountain-Dog Admin</span>
      <span class="example-spacer"></span>
      <button   [ngClass]="'btn'"
                (click)="triggerBuild()" mat-flat-button class="custom-green-button">Deploy changes</button>

      <button [ngClass]="'btn'"  mat-flat-button (click)="signOut()">Sign out</button>
    </mat-toolbar>
  </ng-template>
</amplify-authenticator>
