.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0
}

.amplify-tabs {
  display: none;
}

[data-amplify-authenticator] [data-amplify-router]  {
  border: none;
}
