.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0
}

.amplify-tabs {
  display: none;
}

[data-amplify-authenticator] [data-amplify-router]  {
  border: none;
}

.custom-green-button {
  background-color: green !important;
  color: white !important; /* Optional: Set text color to white */
  margin: 1rem; /* Adjust the margin value as needed */
}

