<amplify-authenticator data-signIn=(authenticated) [loginMechanisms]="['username']" [hideSignUp]="true">
  <ng-template
    amplifySlot="authenticated"
  >
    <mat-toolbar>
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <a routerLink="/events" routerLinkActive="active" mat-menu-item>Events</a>
        <a routerLink="/map-features" routerLinkActive="active" mat-menu-item>Map features</a>
      </mat-menu>
      <span>Mountain-Dog Admin</span>
      <span class="example-spacer"></span>
      <button mat-button (click)="signOut()">Sign out</button>
    </mat-toolbar>
  </ng-template>
</amplify-authenticator>
