.s3image {
  border: solid 4px transparent;
  width: 100%;
}

.s3image-desc {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.selected {
  border-color: #3f51b5;
}

.app-s3-image {
  display: contents;
}


