<!--<button mat-raised-button (click)="openDialog()">Add event</button>-->
<a mat-flat-button routerLink="create">Create new</a>
<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef>{{column}}</th>
      <td (dblclick)="goToEdit(element['id'])" mat-cell *matCellDef="let element">{{element[column]}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page of periodic elements">
</mat-paginator>
<router-outlet></router-outlet>

