<ngx-file-drop
  [accept]="'image/*,video/*'"
  [dropZoneClassName]="'drop-zone'"
  (onFileDrop)="dropped($event)"
>
  <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
    <div>
      <button [ngClass]="'btn'" mat-stroked-button color="primary" type="button" (click)="openFileSelector()">Browse
        Files
      </button>
      <button [ngClass]="'btn'" mat-stroked-button color="primary" type="button" >Create folder</button>
      <div *ngIf="files.length > 0" class="upload-table">

          <div class="preview-inner">
          <div *ngFor="let item of previews; let i=index">
              <img class="preview-img" src="{{item.src}}"/>
            <p class="preview-desc">{{item.name}}</p>
          </div>
          </div>
          <button [ngClass]="'btn'" mat-raised-button color="primary" (click)="uploadFiles()">upload</button>
      </div>
        <ng-content>
        </ng-content>
    </div>
  </ng-template>
</ngx-file-drop>
